<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>

<body>
    <form method="post">
        <label>
            New password:
            <input type="text" name="new_password" aria-label="New password">
        </label>
        <button type="submit">Submit</button>
    </form>
</body>

</html>