<body style="font-family: sans-serif;">
    <h1 style="text-align: center;">Your OTP</h1>
    <p>To access your account securely, please use the following OTP:</p>
    <p style="font-size: 1.125rem; font-weight: 800; letter-spacing: 0.25ch; text-align: center; margin: 1rem 0;">
        {{.Code}}
    </p>
    <p>This code is valid for the next 10 minutes. If you didn't request this OTP,
        please contact our support team immediately.
    </p>
</body>